<section>
  <h2>Crie sua conta</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <p class="field">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true %>
    </p>

    <p class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email" %>
    </p>

    <p class="field">
      <%= f.label :password, style: "display: inline;" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", style: "display: block;" %>
    </p>

    <p class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </p>

    <p class="actions">
      <%= button_tag "Criar conta", type: "submit", class: "btn btn-primary" %>
    </p>
  <% end %>

  <%= render "devise/shared/links" %>

</section>
