<h1 style="margin-block-start: 1rem;">Detalhes do Pedido</h1>

<section>
  <h2><%= Order.model_name.human %> - <%= @order.code %></h2>

  <dl class="details-container__wrapper">
    <div>
      <dt><%= Order.human_attribute_name(:warehouse_id) %>:</dt>
      <dd><%= @order.warehouse.full_description %></dd>
    </div>

    <div>
      <dt><%= Order.human_attribute_name(:supplier_id) %>:</dt>
      <dd><%= @order.supplier.corporate_name %></dd>
    </div>

    <div>
      <dt><%= Order.human_attribute_name(:user_id) %>:</dt>
      <dd><%= @order.user.description %></dd>
    </div>

    <div>
      <dt><%= Order.human_attribute_name(:estimated_delivery_date) %>:</dt>
      <dd><%= I18n.localize(@order.estimated_delivery_date) %></dd>
    </div>

    <div>
      <dt><%= Order.human_attribute_name(:status) %>:</dt>
      <dd><%= t(@order.status) %></dd>
    </div>
  </dl>

  <h3>Itens do Pedido</h3>
  <ul>
    <% @order.order_items.each do |item| %>
      <li><%= item.quantity  %> x <%= item.product_model.name %></li>
    <% end %>
  </ul>

  <div class='btn--controls'>
    <%= link_to 'Editar', edit_order_path(@order.id), class: "btn btn-primary" %>
    <% if @order.pending? %>
      <%= button_to 'Marcar como ENTREGUE', delivered_order_path(@order.id), class: "btn btn-accent" %>
      <%= button_to 'Marcar como CANCELADO', canceled_order_path(@order.id), class: "btn btn-alert" %>
    <% end %>
  </div>
</section>
