<section>
  <h2>Fornecedor</h2>

  <h3 style="margin-top: 10px;"><%= @supplier.corporate_name %></h3>
  <dl class="details-container__wrapper">
    <div>
      <dt>Documento:</dt>
      <dd><%= @supplier.registration_number %></dd>
    </div>
    <div>
      <dt>Endereço:</dt>
      <dd><%= @supplier.full_address %> - <%= @supplier.city %> - <%= @supplier.state %></dd>
    </div>
    <div>
      <dt>E-mail:</dt>
      <dd><%= @supplier.email %></dd>
    </div>
  </dl>

  <p>Total: <%= @product_models.count %></p>

  <% @product_models.each do |product_model| %>
    <dl class="details-container__wrapper">
      <div>
        <dt>Nome:</dt>
        <dd><%= product_model.name %></dd>
      </div>

      <div>
        <dt>SKU:</dt>
        <dd><%= product_model.sku %></dd>
      </div>

      <div>
        <dt>Dimensão:</dt>
        <dd><%= product_model.height %>cm x <%= product_model.width %>cm x <%= product_model.depth %>cm </dd>
      </div>

      <div>
        <dt>Peso:</dt>
        <dd><%= product_model.weight %>g</dd>
      </div>
    </dl>
  <% end %>

  <div class='btn--controls'>
    <%= link_to 'Editar', edit_supplier_path(@supplier), class: "btn btn-primary" %>
    <%= link_to 'Voltar', root_path, class: "btn btn-secondary" %>
  </div>
</section>
