<section>
  <h2>Galpão <%= @warehouse.code %></h2>

  <dl class="details-container__wrapper">
    <div>
      <dt>Nome:</dt>
      <dd><%= @warehouse.name %></dd>
    </div>

    <div>
      <dt>Cidade:</dt>
      <dd><%= @warehouse.city %></dd>
    </div>

    <div>
      <dt>Código:</dt>
      <dd><%= @warehouse.code %></dd>
    </div>

    <div>
      <dt>Área:</dt>
      <dd><%= number_with_delimiter(@warehouse.area, delimiter: ".") %> m²</dd>
    </div>

    <div>
      <dt>Endereço:</dt>
      <dd><%= @warehouse.address %> CEP: <%= @warehouse.cep %></dd>
    </div>

    <div>
      <dt>Descrição:</dt>
      <dd><%= @warehouse.description %></dd>
    </div>
  </dl>

  <ul>
    <h3>Itens em Estoque:</h3>
    <% @stocks.each_pair do |product, qtd| %>
      <li><%= qtd %> x <%= product.sku %></li>
    <% end %>
  </ul>

  <div class="btn--controls">
    <%= link_to 'Editar', edit_warehouse_path(@warehouse), class: 'btn btn-primary' %>
    <%= button_to 'Remover', warehouse_path(@warehouse), method: :delete, class: 'btn btn-alert' %>
    <%= link_to 'Voltar', root_path, class: 'btn btn-secondary' %>
  </div>
</section>
