<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header class="full-bleed">
      <nav class="nav">
        <h1 class="nav__title">
          <%= link_to root_path do %>
            Galpões & <br />
            Estoque
          <% end %>
        </h1>
        <menu class="nav__menu">
          <li class="nav__item"><%= link_to 'Galpões', root_path %></li>
          <li class="nav__item"><%= link_to 'Fornecedores', suppliers_path %></li>
          <li class="nav__item"><%= link_to 'Modelos de Produtos', product_models_path %></li>
          <li class="nav__item"><%= link_to 'Registrar Pedido', new_order_path %></li>
          <li class="nav__item"><%= link_to 'Meus Pedidos', orders_path %></li>
          <li class="search-bar__wrapper">
            <% if user_signed_in? %>
              <%= form_with(url: search_orders_path, method: :get)  do |form| %>
                <label>
                  <%= form.text_field :query, placeholder: "Buscar Pedido" %>
                  <button type="submit">
                    <!--<%= button_tag 'Buscar', type: "submit"  %>-->
                    <%= image_tag asset_path('search.svg'), width: "22", alt: "Buscar" %>
                  </button>
                </label>
              <% end %>
            <% end %>
          </li>
        </menu>

        <div class="nav__links">
          <% if user_signed_in? %>
            <p><%= current_user.email %></p>
            <%= button_to 'Sair', destroy_user_session_path, class: "btn logout", method: :delete %>
          <% else %>
            <%= link_to 'Entrar', new_user_session_path, class: "btn login" %>
          <% end %>
        </div>
      </nav>
    </header>

    <main>
      <% flash.each do |type, msg|%>
        <div class="flash__wrapper <%= type %> full-bleed" >
          <p class="flash__message"><%= msg %></p>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
