<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header class="full-bleed">
      <nav class="nav">
        <h1>Galpões & <br />
          Estoque</h1>
        <menu class="nav__menu">
          <li class="nav__item"><%= link_to 'Galpões', root_path %></li>
          <li class="nav__item"><%= link_to 'Fornecedores', suppliers_path %></li>
          <li class="nav__item"><%= link_to 'Modelos de Produtos', product_models_path %></li>
        </menu>
      </nav>
    </header>

    <main>
      <% flash.each do |type, msg|%>
        <div class="flash__wrapper <%= type %> full-bleed" >
          <p class="flash__message"><%= msg %></p>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
